.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.InputSection {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  align-items: center;
}
.Input {
  width: -webkit-fill-available;
  display: flex;
}
.Btn {
  width: 250px;
  margin: 10px;
}

.List {
  height: "500px";
  overflow: "auto";
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

.List-item {
  font-size: small;
  border: 1px solid #0000ff;
  padding: 10px;
}

.Loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  width: 16px;
  height: 16px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  align-self: center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
